@import "./normalize";
@import "./vars";
@import "./mixin";

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* 
{box-sizing: border-box;
}

html, body {
    font-size: 10px;
    margin: 0;
    font-family: roboto, sans-serif;
}
h1, 
h2,
h3,
p {
    margin: 0;
}
.container {
    max-width: 111rem;
    margin: 0 auto;
    overflow: hidden;
}
main {
    background-color: $bgcolor;
    overflow: hidden;
}
a {
    text-decoration: none;
}

.top-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192rem;
    height: 5rem;
    width: 100%;
    background-color: $bgcolor;
    overflow: hidden;
    @include media($phone) {
        font-size: 1.1rem;
    }
    &__nav {
        margin-right: 3rem;
        color: #333;
        @include media($phone) {
            margin-right: 2rem;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    
}
// Вторая секция//
.back {
    background-color: $white;
}
.navbar {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    overflow: hidden;
    &__name {
        font-size: 3.6rem;
        font-weight: 700;
        color: $maincolor;
        margin: 0 17.2rem 0 2rem;
    }
    @include media($desktop) {
        margin-left: 1.5rem;
    }
    @include media($desktop) {
        &__name {
        margin-right: 8rem;}
    }
    @include media($tablet) {
        &__name {
            margin-right: 2rem;
        }
    }
    @include media($tablet) {
        margin-left: 2.4rem;
    }
    @include media($phone) {
        &__logo {
            width: 4rem;
        }
    }
    @include media($phone) {
        &__name {
            font-size: 1.8rem;
        }
    }
    &__tel {
        color: $maintext;
        font-size: 1.6rem;
    }
    @include media($phone) {
        &__tel {
            font-size: 1.2rem;
        }
    }
    &__search {
        width: 250px;
        height: 40px;
        background-color: #efefef;
        border-radius: 4rem;
        margin-right: 9rem;
        &_lens {
           padding: 1.1rem 2rem 1rem;
           @include media($phone) {
            padding: 0.4rem 2rem 1rem;
           }
        }
    }
    @include media($desktop) {
        &__search {
            margin-right: 3rem;
        }
    }
    @include media($tablet) {
        &__search {
            width: 15rem;
        }
    }
    @include media($phone) {
        &__search {
            width: 19rem;
            height: 2.8rem;
        }
    }
    &__btn {
        width: 17rem;
        height: 4rem;
        border-radius: 4rem;
        border: solid 0.2rem #f13c6e;
        background-color: #fff;
        margin-left: 4rem;
    }
    @include media($tablet) {
        &__btn {
            width: 10rem;
        }
    }
    @include media($phone) {
        &__btn {
            width: 19rem;
            height: 2.8rem;
            margin-left: -1rem;
        }
    }
    @include media($phone) {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
    }

}
// Разделитель//
hr {
    background-color: #efefef;
    margin: 0;
    height: 0.1rem;
    border: none;
}

// Третья секция//
.mainmenu {
    display: flex;
    justify-content: center;
    background-color: $white;
    overflow: hidden;
    &__item {
        margin: 3rem 4rem;
        color: $maintext;
        font-size: 1.6rem;
    }
    @include media($tablet) {
        &__item {
            margin: 3rem 2rem;
            font-size: 1.2rem;
        }
    }
    @include media($phone) {
        &__item {
            margin: 2rem 0.8rem;
            font-size: 0.8rem;
        }
    }
    @include media($phone) {
        margin-right: 0;
    }
}
// Четвертая секция//
.sale {
    width: 192rem;
    min-height: 45rem;
    width: 100%;
    background-image:url(../img/chair.png);
    background-size: contain;
    background-size: 100% 100%;
    overflow: hidden;
    @include media($desktop) {
        background-size: cover;
        background-position: center;
    }
}
.salebox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include media($desktop) {
        margin-left: 5rem;
    }
.sale__title {
    font-size: 4.8rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 5rem;
    margin-top: 10rem;
    @include media($phone) {
        font-size: 3.4rem;
    }
}
.sale__text{
    font-size: 1.4rem;
    color: $white;
    margin-bottom: 5rem;
    @include media($phone) {
        font-size: 1.1rem;
    }
}
.sale__btn {
    width: 17rem;
    height: 40px;
    border-radius: 4rem;
    border: solid 0.2rem #fff;
    background-color: #f13c6e;
    color: $white;
    margin-bottom: 8rem;
    @include media($phone) {
        width: 11rem;
    }
}
}
.goods {
   background-color: $bgcolor;
   overflow: hidden;
   &__title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
        padding-top: 8rem;
        @include media($desktop) {
            margin-left: 4rem;
   }
        @include media($phone) {
            font-size: 2rem;
   }
   }
   &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
        @include media($tablet) {
            margin: 0 1rem;
        }
        @include media($phone) {
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0;
        }
   }
   &__list-items {
        width: 255px;
        height: 363px;
        background-color: #fff;
        text-align: center;
        padding: 2.5rem 3.5rem 0rem 3.5rem;
        margin-bottom: 10rem;
        @include media($tablet) {
            padding-top: 0.5rem;
            width: 18rem;
        }
        @include media($phone) {
            width: 17rem;
            margin-bottom: 6rem;
        }
   }
    &__img {
        margin-bottom: 2rem;
}  
    &__prg {
        margin-bottom: 2rem;
        font-size: 1.4rem;
}
    &__price {
        font-size: 2.1rem;
    }
    &__btn {
        width: 130px;
        height: 35px;
        border-radius: 30px;
        background-color: #f13c6e;
        color: #fff;
        border: none;
        margin-top: 2rem;
        @include media($phone) {
            margin-left: -1rem;
        }
    }
}
.container_blocks {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @include media($tablet) {
        margin: 0 1rem;
    }
    @include media($phone) {
        flex-direction: column;
        margin: 0;
    }
.blocks {
    position: relative;
    width: 540px;
    height: 212px;
    flex-grow: 0;
    background-color: #f13c6e;
    color: #fff; 
    margin-bottom: 10rem;
    @include media($tablet) {
        width: 37rem;
    }
    @include media($phone) {
        margin-bottom: 1rem;
        width: 36.2rem;
    }
    &__input {
        width: 22.5rem;
        height: 3.5rem;
        flex-grow: 0;
        background-color: $white;
        border-radius: 4rem;
        border: none;
        padding-left: 4rem;
        margin-left: 4rem;
        @include media($tablet) {
            width: 20rem;
        }
    }
    &__btn {
        border-radius: 30px;
        border: solid 2px #fff;
        background-color: #f13c6e;
        width: 22.5rem;
        height: 3.5rem;
        margin-left: 4rem;
        color: #fff;
        @include media($tablet) {
            width: 20rem;
        }
    }
    &__title {
       padding-top: 3.5rem;
       margin-left: 4rem;
       margin-bottom: 2.5rem;
       font-size: 1.8rem;
       @include media($tablet) {
            font-size: 1.6rem;
       }
    }
    &__prg {
        margin-left: 4rem;
        margin-bottom: 2.5rem;
        font-size: 1.4rem;
        @include media($tablet) {
            font-size: 1.2rem;
        }
    }
    &__img {
        position: absolute;
        right: 4.5rem;
        top: 5.2rem;
        @include media($tablet) {
            right: 1.5rem;
            top: 7.2rem;
            width: 9rem;
        }
    }
}
}
.example {
    background-color: #fff;
    height: 35.7rem;
    background-size: auto;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    @include media($phone) {
        height: 59.4rem;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        border: 0.1rem solid $bgcolor;
        width: 27.8rem;
        height: 11.9rem;
        text-align: center;
        padding-top: 3rem;
        @include media($desktop) {
            width: 25.6rem;
        }
        @include media($tablet) {
            width: 19.2rem;
        }
        @include media($phone) {
            width: 17.5rem;
        }
    }
} 
.footer {
    display: flex;
    background-color: #fff;
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 6rem;
    overflow: hidden;
    @include media($desktop) {
        margin-left: 7rem;
    }
    @include media($tablet) {
        margin-left: 4.4rem;
    }
    @include media($phone) {
        margin: 0;
    }
    &__title {
        margin-bottom: 2.9rem;
        font-size: 1.6rem; 
    @include media($phone) {
        font-size: 1.1rem;
        margin-left: 1rem;
    } 
    }
    
}
.footer__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 25rem;
    overflow: hidden;
.footer__hr {
    width: 100%;
    height: 1px;
    margin-bottom: 2.9rem;
    border-color: $bgcolor;
    border: none;
}
.footer__item {
    margin-bottom: 2rem;
    text-decoration: none;
    color: #828282;
    font-size: 1.2rem;
    @include media($phone) {
        font-size: 1rem;
        margin-left: 1rem;
    }
}
.footer__item:last-child {
    margin-bottom: 0;
}
.footer__line {
    width: 100%;
    height: 1px;
    background-color: #efefef;
}
}
.footer__end {
    background-color: $bgcolor;
    overflow: hidden;
}
.footer__low {
    width: 192rem;
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; 
    @include media($desktop) {
        justify-content: space-evenly;
    }
    @include media($phone) {
        flex-wrap: wrap;
        height: 15rem;
    }
}
.footer__adress {
    font-size: 1.4rem;
}
.footer__icon {
    width: 3.5rem;
    
}